html, body { min-height: 100vh; max-height: 100%; }
body { background: #eef; background: no-repeat fixed linear-gradient(0deg, rgba(50,50,50,0.139) 0%, rgba(255,173,0,0.14187681908700978) 5%, rgba(224,224,255,0.43879558659401263) 59%); }

header, section { margin: 1rem; }

nav ul { display: flex; flex-flow: row wrap; }
nav ul li { display: inline-flex; margin: 1rem; }

nav a { border: 1px solid #666; padding: 1.4rem; background: linear-gradient(0deg, rgba(50,50,50,0.32) 0%, rgba(224,224,255,0.43879558659401263) 35%, rgba(0,212,255,0.14187681908700978) 100%); }
nav a:hover { background: linear-gradient(0deg, rgba(50,50,50,0.1390756986388305) 0%, rgba(224,224,255,0.43879558659401263) 35%, rgba(255,173,0,0.14187681908700978) 100%); }

.hidden { display: none; }

table tbody td { border-top: 1px solid #000; }
@media (max-width: 1024px) {
    table thead, table tbody, table tr, table th, table td { display: block; }
    header, section { margin: 2rem; }
}

#status_text { font-family: monospace; white-space: pre-wrap; }

img { max-width: 80vw; max-height: 42vh; }

warning { display: block; border: #fbae4a 1px solid; background-color: #fceea1; padding: 1rem; }

