<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block title %}{% endblock title %} - InfraSpace Fixer</title>
            <meta property="og:url" content="https://infraspace.estada.at/" />
            <meta property="og:title" content="InfraSpace Trainstation Queue Fixer" />
            <meta property="og:site_name" content="Clean up your game saves" />
            <meta property="og:description" content="Clean up your game saves" />
            <meta property="og:image" content="https://infraspace.estada.at/static/favicon.png" />
            <meta property="og:locale" content="en_UK" />

            <link rel="icon" href="/static/favicon.png" type="image/png" />

            <link href="/static/tacit-css.min.css" rel="stylesheet" />
            <link href="/static/style.css" rel="stylesheet" />

            <meta name="monetization" content="$ilp.uphold.com/3mZJdzxniURN">
            <script src="/static/matomo.js" async></script>
    </head>
    <body>
        {% block modal %}{% endblock %}
        <header>
            <nav>
                <ul>
                {% for link in header_links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
                </ul>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <section class="main {{ pageclass }}">
            {% block body %}{% endblock %}
        </section>
        <section id="status_text">Loading ...</section>
    </body>
</html>
