{% extends "base.html" %}

{% block title %}Trainstation Queue Fixer{% endblock title %}

{% block body %}
    <h1>
        InfraSpace Trainstation Savefile Fixer
    </h1>
    <h3>
        created by <a href="https://estada.ch">Stefan Schindler</a>
        (<a href="https://twitter.com/dns2utf8">@dns2utf8</a>)
    </h3>
    <p>
        This tool can fix your InfraSpace saves, by removing cars that are stuck in train stations.
    </p>
    <img src="/static/InfraSpace_2022-05-26_with-stuck-resources.webp" alt="Resources stuck at train station" />
    <p>
        After the cleanup you have to store the save game in the same folder again.
        Now the factories and houses realise which resources are missing and order them once more, this time they will get delivered.
    </p>
    <noscript>
        Please enable JavaScript for the upload.
    </noscript>
    <warning>
        Currently there appears to be a bug with Firefox WebSocket, please use another browser if you run into trouble
    </warning>
    <form class="hidden">
        <p>Example paths to upload from:</p>
        <ul>
            <li>Linux with Flatpak: <pre>~/.var/app/com.valvesoftware.Steam/.local/share/Steam/steamapps/compatdata/1511460/pfx/drive_c/users/steamuser/AppData/LocalLow/Dionic Software/InfraSpace/saves/</pre></li>
            <li>Linux native: <pre>~/.steam/steam/SteamApps/compatdata/1511460/pfx/drive_c/users/steamuser/Saved Games/Dionic Software/InfraSpace/saves/</pre></li>
            <li>In Windows Explorer: <pre>%LOCALAPPDATA%Low\Dionic Software\InfraSpace\saves\</pre></li>
        </ul>
        <input type="file" multiple="multiple" accept=".sav" value="" />
        <h3>Files to process</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
    <script src="/static/jszip.min.js"></script>
    <script src="/static/start.js"></script>
{% endblock %}
